package dashboard

import "github.com/elliot14A/siteforge/templates/layout"
import "github.com/elliot14A/siteforge/templates/dashboard/content"

templ Home() {
@layout.DashboardLayout()
@content.HomeContent()
}
